- studies = user_studies[user];

- action_card = ActionCard.new do
  - input :study, :select, "Study", nil, :select_options => studies
  - input :organism, :hidden, "Organism code", entity.organism
 
- action_card.require :study

- action_card.description do

  :markdown
    Select a study to see how this gene is affected in its samples

= action_card_render action_card do
  %hr.ui.divider
  - Study.setup(study)
  = fragment study.action_link("gene_report", "#{ entity.name || entity } in #{ study }", :gene => entity.ensembl, :_ => rand)

