- studies = user_studies[user];

- action_card = ActionCard.new do
  - input :study, :select, "Study", nil, :select_options => studies
 
- action_card.require :study

- action_card.description do

  :markdown
    Select a study to see saples with mutations in this list

= action_card_render action_card do
  - Study.setup(study)
  = fragment study.action_link("mutation_list_report", "#{ list_id } in #{ study }", :list => list_id, :_ => rand)

